.div{
    width: 210px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:-3.5px;
}
.filter{
    padding-top:30%;
    width:100%;
    background-color:#005792;
    height:100%;
    margin-left: 2%;
    margin-right: 2%;
    display:flex;
    flex-direction: column;
    border-radius:0 0 0 10px;
    align-items: center;
    color:white;
    cursor:auto;
}

.form{
    display:flex;
    flex-direction: column;
    height: 100px;

}
.subTitle{
    font-size:20px;
    margin:8px;
    font-weight: 650;
}

.filterBtn{
    background-color:#233142;
    color: white;
    width: 80%;
    height: 31.5px;
    border-radius:5px;
    margin: 0 1px 0 1px;
    cursor:pointer;
    cursor:url("https://img.icons8.com/color/50/000000/airplane-take-off--v2.png"), auto;
}
.filterBtn:hover{
    background-color:white;
    color:#233142;
}
