.landing{
    height: 100vh;
    background-color:   #385170;
    display:flex;
}

.Button{
    background-color:  #142d4c; 
    color: white;
    width: 100%;
    height:130px;
    font-size:40px;
    cursor:pointer;
    border-radius: 30px;
}
.Button:hover{
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #155263;
    font-weight: bold;
    width: 103%;
}
.picture{
    width: 40%;
    height: 80%;
    padding: 2%;
    margin: 2%;
    border-radius: 80px; 
}
.buttonAndTitle{
    margin: 2%;
    padding: 2%;
    height: 80%;
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.One, .Two, .Three{
    color:  #ececec; 
    font-size:60px;
    margin: -1%;
}

.Title{
    margin-top: 15%;
}
.One{
    padding-left:10%;
    display:flex;
    justify-content: flex-start;
}
.One:hover{
    font-size: 75px;
    color:#93e4c1; 
}
.Two{
    justify-content: center;
    display:flex;
}
.Two:hover{
    font-size: 75px;
    color:  #00b7c2; 
}
.Three{
    padding-right:10%;
    display:flex;
    justify-content: flex-end;
}
.Three:hover{
    font-size: 75px;
    color: #dbf094; 

}